@import "fuentes" ;
@import "mediasQ" ;
@import "generales" ;



$color:  rgb(188, 247, 247) ;




a {
  text-decoration: none;
  color: black;
}



p {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  line-height: 20px;
  padding: 30px;
  margin: 30px;
}





